*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(222, 222, 222);
    font-size: 14px;
    background-color: #e6eff6;
    font-family: "Karla", Arial, Helvetica, sans-serif;
}

ul{
    margin: 20px 0 0 0;
    list-style-type: none;
}


h1{
    font-size: 24px;
    font-weight: 500;
    color: hsl(179, 62%, 43%);
}

h3{
    font-size: 20px;
    font-weight: 400;
    color: hsl(71, 68%, 46%);
    margin: 20px 0 10px 0;
}

h4{
    font-size: 18px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-bottom: 16px;
}

p{
    color: hsl(218, 22%, 67%);
    font-weight: 500;
}

strong{
    font-size: 30px;
    color: white;
}

span{
    color: hsl(206, 10%, 87%);
    vertical-align: super;
}

.sx div{
    margin: 5px 0;
}

.card{
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 10px;
    width: 45%;
    margin: 10vh auto;
}

.row{
    display: flex;

}

.row_up{
    width: 100%;
}

.row_down{
    display: flex;
    flex-direction: row;

}

.col{
    padding: 38px;
}

.sx{
    width: 50%;
    border-radius: 0 0 0 10px;
    background-color:#2bb3b1;
}

.dx{
    width: 50%;
    border-radius: 0 0 10px 0;
    background-color: #4abebd;
}

button{
    cursor: pointer;
    margin-top: 15px;
    color: white;
    width: 100%;
    background-color: hsl(71, 68%, 46%);
    padding: 15px 0;
    border: 0px;
    border-radius: 5px;
    box-shadow: 3px 4px 5px -5px black;
}

/******************************************************/
/*Responsive*/

@media screen and (max-width:380px) {

    .card{
        width: 90%;
    }

    .row_down{
        flex-direction: column;
    }

    .dx{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    .sx{
        width: 100%;
        border-radius: 0;
    }




}