*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: #e6eff6;
    font-family: "Karla", Arial, Helvetica, sans-serif;
}

h1{
    font-size: 24px;
    font-weight: 500;
    color: hsl(179, 62%, 43%);
}

h3{
    font-size: 18px;
    font-weight: 400;
    color: hsl(71, 68%, 46%);
    margin: 20px 0 10px 0;
}

h4{
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin-bottom: 16px;
}

p{
    color: hsl(218, 22%, 67%);
    font-weight: 500;
}

strong{
    font-size: 30px;
    color: white;
}

span{
    vertical-align: super;
}

.sx div{
    margin: 10px 0;
}

.card{
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 10px;
    width: 50%;
    margin: 15vh auto;
}

.row{
    display: flex;

}

.row_up{
    width: 100%;
}

.row_down{
    display: flex;
    flex-direction: row;

}

.col{
    padding: 40px;
}

.row_down .col{
    width: 50%;
}

.sx{
    background-color:#2bb3b1;
}
